*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------- Mensagem de informação ----- */

.mensagemInfo{
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 50%;
    height: 40px;
}
.mensagemInfo > i{
    font-size: 1.3rem;
    text-align: center;
    padding: 8px;
    color: rgb(141, 4, 4);
}

.mensagemInfo2{
    visibility: hidden;
    position: absolute;
    left: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 50%;
    height: 40px;
    font-size: .9rem;
}

.mensagemInfo2 > i{
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    color: rgb(141, 4, 4);
}

.mensagemInfo3{
    visibility: hidden;
    position: absolute;
    left: 0%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10e86d;
    width: 50%;
    height: 40px;
}

.mensagemInfo3 > i{
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    color: rgb(0, 156, 208);
}

/* ---- Tamanho e fundo da tela--- */
.main-index{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(-45deg, #10e86d, #53bbf8, #2dc990, #f0fe71);
    background-size: 300% 300%;
    animation: gradiente 10s ease alternate infinite;
}

@keyframes gradiente {
    0%{
        background-position: 0 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

hr{
    width: 80%;
    height: 3px;
    margin-top: -10px 0;
    background: linear-gradient(-45deg, #0780bc, #2dc990);
    animation: gradiente-two 2s ease alternate infinite;
}

@keyframes gradiente-two {
    0%{
        background-position: 0 50%;
        box-shadow: 0px 0px 15px 10px rgba(142, 239, 203, .8);
    }
    100%{
        background-position: 100% 50%;
    }
}

/* section */
.loading{
    visibility: hidden;
    position: absolute;
    width: 50%;
    height: 50px;
    background-color: rgba(16, 232, 109, .8);
}

.loading > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading strong{
    margin-left: 15px;
    color: #0780bc;
}

.loading img{
    width: 50px;
}

.login-container{ 
    position: relative;
    width: 768px;
    height: 480px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, .7);
    background-color: #fff;
    overflow: hidden;
}

.form-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.form{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    background-color: #fff;
    transition: 1s;
}


/* ----------------- Formulário de LOGIN ------------- */

.img-logo-login{
    display: none;
    text-align: center;
}

.img-logo-login > img{
    width: 55%;
    margin: -20px 0;
}

.grow{
    color: #08A1E4;
}
.task{
    color: #13DFDC;
}

.form-input-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    width: 70%;
}

.focoSelecionado{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.3);
}

:placeholder-shown{
    opacity: 0.7;
}

.focoSelecionado:focus{
    color: #08A1E4;
    outline: none;
}

.form-login > h1{
    font-size: 2.3rem;
    font-weight: 700;
}

#botaoLogin{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    background-color: #08A1E4;
    cursor: pointer;
}

#botaoLogin:hover{
    background-color: aqua;
    color: #00082f;
    transition: .5s;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, .3);
}



/* --------------------Formulário de CADASTRO ------------------- */


.form-cadastro > h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.form-cadastro > hr{
    margin-bottom: 15px;
}

#botaoCadastrar{
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    color: #fff;
    font-size: .9rem;
    background-color: #0780bc;
    cursor: pointer;
}

#botaoCadastrar:hover{
    background-color: aqua;
    color: #00082f;
    transition: .5s;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, .3);
}



/* ----------------  CONTAINER SOBREPOSIÇÃO -------------- */

.form-cadastro{
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.login-container.trocar .form-login{
    transform: translateX(100%);
}

.login-container.trocar .form-cadastro{
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

.img-logo{
    display: flex;
    justify-content: center;
}

.img-logo > img{
    width: 85%;
}

.sobreposicao-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    z-index: 10;
    transition: 1s;
}

.login-container.trocar .sobreposicao-container{
    transform: translateX(0%);
}

.sobreposicao-info{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00082f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-container.trocar .sobreposicao-info:nth-child(2){
    z-index: -1;
    opacity: 0;
}

.sobreposicao-info > p{
    font-size: 2.5rem;
}

.sobreposicao-info > span{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    width: 30ch;
}

.sobreposicao-info-cadastrar{
    width: 100%;
    height: 100%;
    background-color: #00082f;
}

.sobreposicao-button{
    margin-top: 20px;
    border: 3px solid #08A1E4;
    background-color: transparent;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    color: #fff;
    font-size: .8rem;
    cursor: pointer;
}


/* -------------- MOBILE ------------- */

.mobile-login{
    display: none;
    font-size: .8rem;
}

.mobile-login a{
    text-decoration: none;
    color: #08A1E4;
    font-size: .9rem;
}


@media (max-width: 768px) {
    .sobreposicao-container{
        display: none;
    }

    .mensagemInfo{
        width: 100%;
    }

    .mensagemInfo2{
        width: 100%;
        left: 0%;
    }

    .mensagemInfo3{
        width: 100%;
        left: 0%;
    }

    .mobile-login{
        display: block;
    }

    .form{
        width: 100%;
        justify-content: space-evenly;
        padding: -5px 0;
    }

    .img-logo-login{
        display: block;
    }

    .form-cadastro{
        position: absolute;
        transform: translateX(100%);
        background-color: #00082f;
        color: #fff;
    }

    .login-container.trocar .form-cadastro{
        transform: translateX(0%);
    }

    .login-container.trocar .form-cadastro .focoSelecionado{
        transform: translateX(0%);
        background-color: rgb(255, 252, 252);
    }

    .form-input-container{
        width: 90%;
    }

    .login-container{
        margin: 0 60px;
        width: 100vw;
        height: 82vh;
    }

    .mensagemInfo{
        text-align: center;
        font-size: .9rem;
    }

    .loading{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px){
    .login-container{
        margin: 0 23px;
        width: 100vw;
        height: 83vh;
    }

    .mensagemInfo2{
        font-size: .9rem;
    }
}

@media (max-width: 555px){
    .mensagemInfo2{
        font-size: .8rem;
    }
}


@media (max-width: 395px){
    .form-login > h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .mensagemInfo{
        text-align: center;
        font-size: .7rem;
    }

    .mensagemInfo2{
        font-size: .7rem;
    }

    .mobile-login{
        display: block;
    }
}


@media (max-width: 360px){
    .form-login > h1{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
    }
    .form-cadastro > h1{
        text-align: center;
        font-size: 2rem;
    }
    .form-cadastro label{
        font-size: .8rem;
    }
    .loading strong{
        margin-left: 5px;
        font-size: .9rem;
        color: #0780bc;
    }
    
    .loading img{
        width: 40px;
    }
}

@media (max-width: 270px){
    .form-login > h1{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .form-login label{
        font-size: .8rem;
    }
}

